@model IEnumerable<AlgorithmTaskYasserBahnasy.Models.Depart>
@using Microsoft.AspNet.Identity
@using AlgorithmTaskYasserBahnasy.Models
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

@{ 
    var db = new ApplicationDbContext();
    var UserId = User.Identity.GetUserId();
    var CurrentUser = db.Users.Where(a => a.Id == UserId).SingleOrDefault();
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>


<table class="table table-stripped table-bordered table-hover">
    @Html.AntiForgeryToken()
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.DepName)
        </th>
        <th>
            Manger OF Department
        </th>
        <th>Actions</th>
    </tr>

@foreach (var item in Model)
{
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.DepName)
            
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.user.FullName)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id = item.id }, new { @class = "btnLink" })
            @Html.ActionLink("Details", "Details", new { id = item.id }, new { @class = "btnLink" })
            @{
                if (CurrentUser.UserType == "SuperAdmin")
                {
                    @Html.ActionLink("Delete", "Delete", new { id = item.id }, new { @class = "btnLink" })
                }
            }
         </td>


     </tr>
}

</table>
